:root {
    --body-background-color: #F4F4F8;
    --h2-color : #000000;
    --label_color : #000000;
    --box-background-color : #ffffff;
    --sorting_nav-background-color : #1E1E38; 

    --style_btn-color : #ffffff;
    --style_btn-border-color : #ffffff;
    --style_btn_hover-background-color : #ffffff;
    --style_btn_hover-color : #000000;

    --btn_override-background-color : #1E1E38;
    --btn_override-border-color : #1E1E38;
    --btn_override_hover-background-color : #177e89;
    --btn_override_hover-border-color : #177e89;   

    --dropdown_item_active-background-color: #177e89;
    --dropdown_menu-background-color: #ffffff;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: var(--body-background-color);
    min-height: 100vh;
}

label {
    color: var(--label_color);
}

h2 {
    padding-top: 0.5em;
    color: var(--h2-color);
    padding-bottom: 2em;
}

.max_height {
    height: 90vh;
}


.background {
    margin: 1em;
}   

.box {
    padding: 1em;
    margin: 1em;
    background: #ffffff;
    background: var(--box-background-color);
    border-radius: 5px;
}

#bar_svg {
    transform: scale(1, -1);
}

#style_btn {
    border-color: var(--style_btn-border-color);
    color: var(--style_btn-color);
    margin-left: 0.5em;
}

#style_btn:hover {
    background-color: var(--style_btn_hover-background-color);
    color: var(--style_btn_hover-color);
}

.form_distance {
    margin-bottom: 1em;
}

.btn_override {
    background-color: var(--btn_override-background-color);
    border-color: var(--btn_override-border-color);
}

.btn_disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
  }

.btn_override:hover, .btn_override:visited, .btn_override:focus {
    background-color: var(--btn_override_hover-background-color) !important;
    border-color: var(--btn_override_hover-border-color) !important;   
    box-shadow: none !important;
}

.btn:active {
    transform: scale(98%);
}

#sorting_nav {
    background-color: var(--sorting_nav-background-color);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--dropdown_item_active-background-color);
}

.dropdown-menu {
    background-color: var(--dropdown_menu-background-color);
}