* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: #F4F4F8;
    min-height: 100vh;
}

.max_height {
  height: 90vh;
}

h2, label {
    color: #000000;
}

h2 {
    padding-bottom: 2em;
}

#svg_box {
    margin-right: 1em;
}

#settings_box {
    margin-left: 1em;
}

#bar_svg {
    transform: scale(-1, -1);
}

.box {
    padding: 1em;
    margin-right: 1em;
    background: #ffffff;
    border-radius: 5px;
}

.form_distance {
    margin-bottom: 1em;
}

.btn {
    background-color: #5941A9;
    border-color: #5941A9;
}

.background {
    margin: 1em;
}